# Ignore all
*

# Unignore all with extensions
!*.*

# Don't ignore LICENSE
!LICENSE

# Unignore all dirs
!*/

# vim swap and backup files
*.un~
*.swap

# windows executable
*.exe
*.ilk
*.pdb

# cached folder
nimcache/
nim.cfg

# built folder if available
build/

# ignore go.sum
go.sum